# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Uploaded files (Multer storage)
uploads/
temp/



# IDE/editor config
.vscode/
.idea/